/* 
*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
} */


/* * {
    outline: 1px solid red;
} */

*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ffffff, #d6f0ff); /* Soft white to light blue */
  background-size: 300% 300%;
  animation: backgroundAnimation 5s linear infinite;
}

@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}





  
  